<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<h:head>
    <meta content="text/html; charset=UTF-8"/>
    <title>Caisse enregistreuse - Projet JavaEE - SIAD M1</title>
</h:head>
<h:body>
    <h1>Caisse enregistreuse</h1>
    <h:form>
        <h:commandButton value="Nouvelle vente" action="nouvelleVente"/>
    </h:form>
    <h:form>
        <h3>Deniere vente</h3>
        <h:dataTable value="#{venteControleur.derniereVenteList}" var="vente">
            <h:column>
                <f:facet name="header">
                    N° de vente
                </f:facet>
                #{vente.venId}
            </h:column>
            <h:column>
                <f:facet name="header">
                    Date de la vente
                </f:facet>
                #{vente.venDtheure}
            </h:column>
            <h:column>
                <f:facet name="header">
                    Status
                </f:facet>
                #{vente.venIdEtat.etvLibelle}
            </h:column>
            <h:column>
                <f:facet name="header">
                    Prix brut
                </f:facet>
                #{vente.venPrixbrut}
            </h:column>
            <h:column>
                <f:facet name="header">
                    Remise
                </f:facet>
                #{vente.venPrctremise}
            </h:column>
            <h:column>
                <f:facet name="header">
                    Prix net
                </f:facet>
                #{vente.venPrixnet}
            </h:column>
        </h:dataTable>
    </h:form>
</h:body>
</html>
