<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:outputLabel value="Nouvelle vente"/>
    <h:form>
        <h:dataTable value="#{produitControleur.produitList}" var="produit">
            <h:column>
                <f:facet name="header">
                    <h:outputLabel value="Nom"/>
                </f:facet>
                #{produit.prdLibelle}
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputLabel value="Prix"/>
                </f:facet>
                <h:outputLabel value="#{produit.prdPrix}">
                    <f:convertNumber currencyCode="EUR" minFractionDigits="2"/>
                </h:outputLabel>
            </h:column>
            <h:column>
                <h:commandButton value="Ajouter au panier" action="#{venteControleur.ajoutProduit(venteControleur.vente.venId, produit.prdId)}">
                    <f:ajax execute="@form" render="@form" />
                </h:commandButton>
            </h:column>
        </h:dataTable>

        <h1><h:outputLabel value="Vente n°#{venteControleur.vente.venId}"/></h1>
        <h:dataTable value="#{venteControleur.vente.produitsventeList}" var="item">
            <h:column>
                <f:facet name="header">
                    <h:outputLabel value="Produit"/>
                </f:facet>
                #{item.produit.prdLibelle}
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputLabel value="Quantité"/>
                </f:facet>
                #{item.vpdQuantite}
            </h:column>
        </h:dataTable>

        <h:panelGrid columns="3">
            <h:outputText value="Remise"/>
            <h:inputText value="#{venteControleur.vente.venPrctremise}">
                <f:convertNumber />
            </h:inputText>
            <h:commandButton value="Appliquer la remise" action="#{venteControleur.appliquerRemise()}">
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>
        </h:panelGrid>

        <h:panelGrid columns="2">
            <h:outputText value="Prix (brut)"/>
            <h:inputText value="#{venteControleur.vente.venPrixbrut}" readonly="true"/>
            <h:outputText value="Prix (net)"/>
            <h:inputText value="#{venteControleur.vente.venPrixnet}" readonly="true"/>
        </h:panelGrid>
        <h:panelGrid columns="2">
            <h:commandButton value="Valider la vente" action="#{venteControleur.validerVente()}"/>
            <h:commandButton value="annuler la vente" action="#{venteControleur.annulerVente()}"/>
        </h:panelGrid>
    </h:form>
</f:view>
</html>
